/* i miei font */

/* font primario */

.fmod-1{
    
    font-family: 'Dela Gothic One', cursive;
}

/* font secondario */

.fmod-2{
    
    
    font-family: 'EB Garamond', serif;
    
}

/* my color's palette */

:root{
    
    --primary-color:#3f37c9;
    --secondary-color:#ffd60a;
    --third-color:#000814;
    --fourth-color:#ffffff;
    --fifth-color:#6c757d;
}

/* my class color: */

.fcolblue{
    
    color: var(--primary-color);
}

.fccoloryellow{
    
    color: var(--secondary-color);
    
}

.fccolordark{
    
    color:var(--third-color)
    
    
}


.fccolorwhite{
    
    color: var(--fourth-color);
    
    
}


/* my header e sfondo principale */

.custom-head{

background-image: linear-gradient(0deg, rgba(231,231,231,0) 0%, rgba(0,0,0,1) 90%), url(./media/wave2.svg),url(./media/wave1.svg),url(./media/header.jpg);
background-repeat: no-repeat,no-repeat,no-repeat;
height: 100vh;
background-size: auto,auto,auto;
background-position-y:bottom  ;






}


/* parte scritta del mio header */


/* titolo e paragrafo principali */

.h1titolo{

    font-size: 50px;
}




.ptitolo{

    font-size: 19px;
    font-weight: 500;
}




.divtitolo{

    margin-top: 130px;
}

/* my button */

.bottone{

    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    height: 35px;
    width: 120px;
    

}

/* le 4 card allineate */

.hr-custom{

    border: 3px solid var(--secondary-color);
    opacity: 5;
    
}

.card1{

    height: 350px;
    width: 250px;
    background-image:linear-gradient(0deg, rgba(231,231,231,0) 0%, rgba(0,0,0,1) 90%), url(./media/1.png);
}

