/* i miei font */

/* font primario */

.fmod-1{
    
    font-family: 'Dela Gothic One', cursive;
}

/* font secondario */

.fmod-2{
    
    
    font-family: 'EB Garamond', serif;
    
}

/* my color's palette */

:root{
    
    --primary-color:#3f37c9;
    --secondary-color:#ffd60a;
    --third-color:#000814;
    --fourth-color:#ffffff;
    --fifth-color:#6c757d;
}

/* my class color: */

.fcolblue{
    
    color: var(--primary-color);
}

.fccoloryellow{
    
    color: var(--secondary-color);
    
}

.fccolordark{
    
    color:var(--third-color)
    
    
}


.fccolorwhite{
    
    color: var(--fourth-color);
    
    
}


/* my header e sfondo principale */



.bgHeader2{


    background-image: url(media/wave2.svg),url(./media/wave1.svg);
}



.bgHeader{

    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 12%, rgba(0,0,0,0.16130959219625352) 100%),url(media/header.jpg);
background-repeat: no-repeat;
background-position: bottom;
    






}
.buttonHeader{

    color: #000000;
    background-color: #ffd60a;
    font-family: 'EB Garamond', serif;
    border: 0.5px solid black;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bold;
}

h1{

    color: white;
}

.parHeader{

    color: white;
}


.sfondo2{

    width: 100%;
    
}


.bgwave1{

   background-image: url(./media/wave1.svg);
   background-repeat: no-repeat;
   background-position-y: 95%;  
   
}

.bgwave2{

    background-image: url(./media/wave2.svg);
    background-repeat: no-repeat;
    background-position-y: 100%;
   
    
 }

 .scritteHeader{

    padding-top: 130px;
 }

 .card1{

    height: 315px;
    width: 260px;
    background-color: #3f37c9;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 12%, rgba(0,0,0,0.16130959219625352) 100%),url(./media/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

 }

 .card2{

    height: 315px;
    width: 260px;
    background-color: #3f37c9;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 12%, rgba(0,0,0,0.16130959219625352) 100%),url(./media/2.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

 } 
 
 .card3{

    height: 315px;
    width: 260px;
    background-color: #3f37c9;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 12%, rgba(0,0,0,0.16130959219625352) 100%),url(./media/3.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

 }
 .card4{

    height: 315px;
    width: 260px;
    background-color: #3f37c9;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 12%, rgba(0,0,0,0.16130959219625352) 100%),url(./media/4.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
 }

 h2{

    color: #3f37c9;
    font-size: 40px;
 }

 .paraHeader{

    font-size: 17px;
 }

 hr{

    
    border: 2px solid rgb(223, 223, 30);
    opacity: 1;
    position: relative;
    top: -26px;
   
 }
 

 .h3shadow{

    color: #3f37c9;
 }

 i{

    font-size: 30px;
    margin-bottom: 10px;
 }
 

 .loghetti6{

    font-size: 40px;
    color: red;
 }

 .loghetti5{

    font-size: 40px;
    color: black;
 }
 .loghetti4{

    font-size: 40px;
    color: rgb(209, 209, 3);
 }
 .loghetti3{

    font-size: 40px;
    color: blue;
 }
 .loghetti2{

    font-size: 40px;
    color: purple;
 }
 .loghetti1{

    font-size: 40px;
    color: green;
 }

 .containercardone{

    margin-top: 100px;
 }


 .deforme2{

    height: fit-content;
    
 }
 

 .containerdiverso{

    margin-top: 150px;
 }


 .deforme4{

   height: fit-content;
 }

 .deforme3{

    height: fit-content;
  }
